body{
   background-color:#251204;

}

.nav{
  width: 100vw;
  height: 50px!important;
  position: fixed !important;
}

.menuitens{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.nav-link{
    padding-left: 70px !important;
    color: orange !important;
}

.nav-link:hover{
    color: white !important;
}

.navbar{
  /* background-color: black!important; */
    background-color: rgba(0, 0, 0, 0.5)!important;
  /* top: 37px; */
}


.porcoes{
  color: orange;
  text-align: center;
  background-color: black;
}

.footer{
  padding: 0;
  margin: 0;
    width: 100%;
    bottom: 0;
    margin-top: 6%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100px;
    display: flex;
 align-items: center;
 justify-content: center;


}

.footer p{
  /* text-align: center; */

  color: Orange;
  font-size: 20px;
  font-style: oblique;
  text-align: center;

}


a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: white;
}
